html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.card{
    font-size: 18px;
    margin: 0 auto;
    max-width: 666px;
    padding: 30px 40px;
}

.quiz-start{
    text-align: center;
}

header{
    margin-bottom: 80px;
}

#timer{
    color: purple;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
}

a{
    color: purple;
    font-size: 18px;
}

a:hover{
    color: black;
}

button{
    background-color: purple;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 12px;
    font-family: monospace;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30%;
    display: block;
}

button:hover{
    background-color: black;
}


#start-btn{
    position: absolute;
    width: 10%;
    left: 45%;
}

.submit-btn{
    position: absolute;
    width: 10%;
    left: 40%;
    margin-top: 15px;
}

#next-btn{
    width: 25%;
    background-color: antiquewhite;
    color: black;
}

#question{
    padding-bottom: 20px;
}

.correct{
    color: green;
}

.wrong{
    color: red;
}

form{
    padding-top: 50px;
}

label{
   font-size: larger;
}

input{
    height: 30px;
}

#initials{
    font-size: large;
}

.hide{
    display: none;
}

